* {
    font-size: 16px;
}
div {
    margin: 10px 0px;
    padding: 10px 5px;
}
.content {
    height: 1000px;
}
.content .first {
    margin-bottom: 10px;
    background-color: #ff6347;
    float: left;
}
.content .second {
    background-color: #ffff00;
    float: left;
}
.content .third {
    width: 70%;
    background-color: #0000ff;
    float: left;
}