/* For better visibility (color, borders, spacing, size) */
.wrap { 
    margin: 16px; 
}
.box, .parent, .child, .sticky, .fixed { 
    border: 1px solid #333; background: #f5f5f5; 
}

/* sticky:Stick to the top when scrolling */
.sticky { 
  position: sticky;
  top: 0;
  background: #fff7cc;
}

/* static:default */
.static {
    position: static;
}

/* relative:Based on oneself */
.relative { 
    position: relative; 
    top: 10px; 
    left: 10px; 
}

/* absolute:Positioned relative to .parent */
.parent { 
    position: relative; 
    height: 80px; 
    margin-top: 12px; 
}
.child  { 
    position: absolute; 
    top: 10px; 
    right: 10px; 
    background: #e6f2ff; 
}

/* fixed:Fixed on the screen (does not move even when scrolling) */
.fixed  { 
    position: fixed; 
    right: 10px; 
    bottom: 10px; 
    background: #e0ffe0; 
}

/* For better visibility (frame, margin) */
.box {
    border: 1px solid #333;
    padding: 4px;
    margin: 8px 0;
}
.item {
    border: 1px dashed #999;
    padding: 4px;
}

/* display */
.ib {
    display: inline-block;
}
.none {
    display: none;
}
.flex {
    display: flex;
}
.iflex {
    display: inline-flex;
}
.button button{
    color: rgb(255, 255, 255);
    background-color: rgb(71, 226, 71);
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;
    border-width: 0px;
}
.button button:hover{
    background-color: #333;
}